# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
bin/
out/
test-output/
build
dist
.classpath
.eclipse
.settings/
!gradle/wrapper/gradle-wrapper.jar
.gradle/
build/
.idea/
target/
*.iml
*.ipr
*.iws
.project

